@charset "UTF-8";

.news-item:not(:first-child){
  margin-top: 10px;
}

.news-item-link{
  display: flex;
  align-items: center;
  border: 1px solid #222;
  padding: 20px;
}

.news-item-date{
  margin-right: 10px;
}

@media screen and (max-width: 768px){
  .news-item-link{
    padding: 10px;
    font-size: 14px;
  }
}