@charset "UTF-8";

.recruit-type:not(:first-child){
	margin-top: 80px;
}

.recruit-type-ttl{
	font-weight: bold;
	font-size: 26px;
	border-bottom: 1px solid #222;
}

.recruit-type-description{
	margin-top: 20px;
}

.recruit-type-info{
  width: 100%;
	border: 1px solid #222;
	margin-top: 20px;
}

.recruit-type-info-name,
.recruit-type-info-data{
	border-top: 1px solid #222;
	padding: 10px;
}

.recruit-type-info-name{
	font-weight: bold;
	width: 30%;
	border-right: 1px solid #222;
	background-color: #f5f6f9;
}

.recruit-type-info-data{
	width: 70%;
}