@charset "UTF-8";

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;  
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}
/* header */
.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 0 30px;
  background-color: #fff;
  position: sticky;
  left: 0;
  top: 0;
  z-index: 1;
}
.header-title{
  font-size: 24px;
  width: 80px;
}
.header-title a{
  text-decoration: none;
  color: inherit;
}
.header-nav{
  display: block;
}
.header-nav-list{
  display: flex;
  font-weight: bold;
}
.header-nav-item{
  margin-right: 30px;
}
.header-nav-item a{
  text-decoration: none;
  color: inherit;
}
/* top-mv */
.top-mv{
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../img/mv.png) center / cover;
  color: #fff;
}
.wrap{
  width: 1080px;
  margin: 0 auto;
}
.top-mv-main-copy{
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
.top-mv-sub-copy{
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  margin-top: 20px;
}
.top-feature{
  color: #fff;
  background-color: #222;
}
.ptb-m{
  padding: 80px 0;
}
.ttl{
  font-size: 30px;
  font-weight: bold;
}
.top-feature-txt{
  margin-top: 20px;
  line-height: 25px;
}
.top-service-ttl{
  text-align: center;
}
.top-service-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.top-service-item{
  width: 49%;
  margin-top: 20px;
  margin-right: calc(100% - (49% * 2));
}
img{
  width: 100%;
  height: auto;
}
.top-service-item-ttl{
  font-weight: bold;
  font-size: 18px;
  margin-top: 10px;
}
.top-service-item-description{
  margin-top: 5px;
  line-height: 25px;
}
.top-service-item:nth-child(2n){
  margin-right: 0;
}
.top-service-btn{
  margin: 40px auto 0;
}
.btn{
  display: block;
  width: 300px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
  background-color: #cd0224;
  color: #fff;
}
a{
  text-decoration: none;
  transition: 0.3s;
}
.top-news{
  background-color: #222;
}
.ptb-m{
  padding: 80px 0;
}
.wrap{
  width: 1080px;
  margin: 0 auto;
}
.top-news-head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top-news-ttl{
  color: #fff;
}
.ttl{
  font-size: 30px;
  font-weight: bold;
}
.top-news-btn{
  width: 160px;
  font-size: 14px;
  padding: 7px;
}
.top-news-list{
  margin-top: 20px;
}
.top-news-item-link{
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
.top-news-item-date {
  margin-right: 10px;
}
.top-news-item:not(:first-child) {
  margin-top: 10px;
}
.top-blog-ttl{
  text-align: center;
}
.top-blog-list{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: 20px;
}
.top-blog-item{
  width: 32%;
  margin-right: calc((100% - (32% * 3)) / 2);
}
.top-blog-item-date {
  margin-top: 5px;
  margin-right: 20px;
  font-size: 14px;
}
.top-blog-item-ttl {
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}
.top-blog-item:nth-child(3n) {
  margin-right: 0;
}
.top-blog-btn{
  margin: 40px auto 0;
}
.top-company-list {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  padding-top: 0;
}
.top-company-item {
  width: 50%;
}
.top-company-item-link{
  display: inline-block;
  width: 100%;
  line-height: 10;
  text-align: center;
}
.top-company-link {
  background-color: #cd0224;
}
.top-recruit-link{
  background-color: #222;
}
.bottom-contact{
  background-color: #f5f6f9;
  text-align: center;
}
.bottom-contact-txt{
  margin-top: 20px;
}
.bottom-contact-btn {
  margin: 40px auto 0;
}
.footer {
  padding: 20px 0;
  color: #fff;
  background-color: #222;
}
.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
}
.footer-nav-list {
  display: flex;
  flex-wrap: wrap;
}